*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(22, 21, 21);
}
.box1{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    width: 500px;
    min-height: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 5px 10px;
    text-align: center;
}
.box1 h1{
   font-size: 2.5rem;
}
#inputbox{
    width: 300px;
    height: 20px;
    padding-left: 10px;
    margin: 5px;
}
#btn{
    background-color: green;
   color: white;
    border: none;
 padding: 4px 8px;
 font-weight: bolder; 
 margin-left: 10px;cursor: pointer;

}
.box2{
    padding: 10px 12px;
}
.listitm{
   padding: 5px 8px;
    list-style-type: none;
    background-color: white;
    color: black;
    margin: 6px 0;
   border-radius: 10px;
   font-size: 1.2rem;
}
